<h2>Account Details</h2>

<hr/>
<div *ngIf="account">
  <div>
    <label><b>Account Holder Name: </b></label> {{account.ownerName}}
  </div>
  <div>
    <label><b>Bank Name: </b></label> {{account.bankName}}
  </div>
  <div>
    <label><b>Account Number: </b></label> {{account.accountNumber}}
  </div>
  <div>
    <label><b>Account Balance Id: </b></label> {{account.currentBalance}}
  </div>

  <br>
  <br>
  <div class="panel-heading">
    <h2>Transaction Details</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Source Account Holder Name</th>
        <th>Source Account ID</th>
        <th>Target Account Holder Name</th>
        <th>Target Account ID</th>
        <th>Amount Transfered</th>
        <th>Reference</th>
        <th>Initiation Date</th>
        <th>Completion Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let transaction of transactions;">
        <td>{{transaction.sourceOwnerName}}</td>
        <td>{{transaction.sourceAccountId}}</td>
        <td>{{transaction.targetOwnerName}}</td>
        <td>{{transaction.targetAccountId}}</td>
        <td>{{transaction.amount}}</td>
        <td>{{transaction.reference}}</td>
        <td>{{transaction.initiationDate}}</td>
        <td>{{transaction.completionDate}}</td>
      </tr>
      </tbody>
    </table>
  </div>


</div>


<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Account List</button><br>
