<h3>Money Transfer</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Source Account Number</label>
      <input [(ngModel)]="sourceInput.accountNumber" class="form-control" id="accountNumber" name="accountNumber"
             required type="text">
    </div>

    <div class="form-group">
      <label for="name">Target Account Number</label>
      <input [(ngModel)]="targetInput.accountNumber" class="form-control" id="accountNumber2" name="accountNumber2"
             required type="text">
    </div>

    <div class="form-group">
      <label for="name">Amount</label>
      <input [(ngModel)]="transactionInput.amount" class="form-control" id="amount" name="amount" required type="text">
    </div>
    <div class="form-group">
      <label for="name">Reference</label>
      <input [(ngModel)]="transactionInput.reference" class="form-control" id="reference" name="reference" required
             type="text">
    </div>
    <button class="btn btn-success" type="submit">Transfer</button>
  </form>
</div>

<div [hidden]="!submitted">

</div>

