<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="createBankAccount" routerLinkActive="active">Create Bank Account</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="accounts" routerLinkActive="active">Account List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="transfer" routerLinkActive="active">Money Transfer</a>
    </li>
  </ul>
</nav>

<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
