<h3>Open Bank Account</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Account Number</label>
      <input [(ngModel)]="account.accountNumber" class="form-control" id="accountNumber" name="accountNumber" required
             type="text">
    </div>

    <div class="form-group">
      <label for="name">Bank Name</label>
      <input [(ngModel)]="account.bankName" class="form-control" id="bankName" name="bankName" required type="text">
    </div>

    <div class="form-group">
      <label for="name">Account Holder Name</label>
      <input [(ngModel)]="account.ownerName" class="form-control" id="ownerName" name="ownerName" required type="text">
    </div>

    <div class="form-group">
      <label for="name">Current Balance</label>
      <input [(ngModel)]="account.currentBalance" class="form-control" id="currentBalance" name="currentBalance"
             required type="text">
    </div>

    <button class="btn btn-success" type="submit">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">

</div>
