<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Bank Accounts</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Owner Name</th>
        <th>Bank Name</th>
        <th>Account Number</th>
        <th>Account Balance</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let account of accounts | async">
        <td>{{account.ownerName}}</td>
        <td>{{account.bankName}}</td>
        <td>{{account.accountNumber}}</td>
        <td>{{account.currentBalance}}</td>
        <td>
          <button (click)="deleteAccount(account.id)" class="btn btn-danger">Delete</button>
          <button (click)="accountDetails(account.accountNumber)" class="btn btn-info" style="margin-left: 10px">
            Details
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
